@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&family=Poppins:ital,wght@0,100;0,300;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Edu TAS Beginner", cursive;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

body,
html {
  width: 100%;
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  margin-left: 30px;
  margin-top: 15px;
  display: flex;
  gap: 20px;
}

nav a {
  color: black;
}

nav input {
  width: 300px;
  height: 30px;
  border-radius: 20px;
  transform: translateX(15%);
}

nav ul {
  list-style: none;
  display: flex;
  gap: 70px;
  margin-right: 10px;
  font-weight: bold;
}

.icons {
  cursor: pointer;
  margin-right: 20px;
}

nav ul a:hover {
  border-radius: 7px;
  background-color: rgba(99, 112, 81, 0.9);
  color: #fff;
  padding: 9px;
  transition: 0.3s;
}

.about {
  width: 100%;
  min-height: 100vh;
}

.content {
  width: 80%;
  margin: auto;
  padding: 100px;
}

.text {
  width: 55%;
}

.image-section {
  width: 40%;
  display: flex;
  position: absolute;
  left: 60%;
  bottom: 33%;
}

.image-section img {
  width: 500px;
  height: 300px;
  border-radius: 10px;
}

.title {
  color: rgb(1, 137, 1);
  margin-bottom: 10px;
}

.content2 {
  font-size: 20px;
}

button {
  background-color: rgb(1, 137, 1);
  border: none;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
}
